.App {
  text-align: center;
  font-family: 'Play', sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background: url("http://img10.deviantart.net/f20c/i/2014/053/7/6/free_space_galaxy_texture_by_lyshastra-d77gh2y.jpg");
  background-position: center top;
}

.header-title {
  font-size: 2.9em;
  padding-top: 10px;
  font-family: 'Play', sans-serif;
  font-weight: bolder;
}

.App-intro {
  font-size: large;
}

.App-edit {
  display: block;
  text-align: center;
  /*margin-right: auto;
  margin-left: auto;*/
  margin-top: 150px;
  height: 300px;
  width: 100%;
  background: url("http://img10.deviantart.net/f20c/i/2014/053/7/6/free_space_galaxy_texture_by_lyshastra-d77gh2y.jpg") #000;
  background-position: center top;
  padding-top: 80px;
  border-radius: 5px;
}

.App-edit-title {
  text-align: center;
  color: white;
  font-weight: bolder;
}

.hideinput {
  display: none;
}

.submit-button-edit {
  background: darkgrey;
  margin-left: 5px;
}

.cancel-button {
  background: darkgrey;
}

.inventTable {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*border: 1px solid #000;*/
}

button {
  border-radius: 5px;
  margin-right: 10px;
  
}

button:hover {
  background: lightgrey;
  color: #42434c;
  border-radius: 5px;
}

footer {
  display: block;
  width: 100%;
  color: #FFF;
  background: url("http://img10.deviantart.net/f20c/i/2014/053/7/6/free_space_galaxy_texture_by_lyshastra-d77gh2y.jpg") #000;
  background-position: center top;
  height: 170px;
  margin-top: 50px;
}

div.copyright {
  padding-top: 120px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
